.portfolio {
  display: block;
}

.portfolio-item {
  display: flex;
  background: $accent;
  color: $text;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 4em;
  box-sizing: border-box;
  p {
    margin-bottom: 0;
  }
  &.small {
    grid-row: span 1;
    grid-column: span 1;
  }

  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }

  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }

  &.tall {
    grid-row: span 3;
    grid-column: span 2;
  }

  &.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
  &.two {
    background-image: url("./images/header-home.jpg");
    background-blend-mode: multiply;
    color: white;
    background-size: cover;
    background-position: top left;
    transition: all 0.3s ease;
    &:hover {
      background-blend-mode: normal;
    }
  }
}

@media (min-width: 576px) {
  .portfolio {
    display: grid;

    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
}
