$header-bg: #e6e3e8;
$nav-pill-active: #cec8d2;
$accent: #c31432;
$accent-dark-60: #410610;
$accent-hover: #820d21;
$accent-light: lighten($accent, 55%);
$text: #150205;
$list-icons: #b6adbc;
$secondary: #240b36;
$white: #fff;
