doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  link(href="style.css" rel="stylesheet")
  title Front End Engineer Portfolio of E. Wright

body                
    main.flex-grow-1.h-100
        .row.mx-auto.my-auto
            .col-12.col-sm-3.col-xl-2.header-column.fixed-bottom.h-100
                .row.pt-3.header-content
                    .col-2.col-sm-5.text-center.mx-sm-auto.mb-3.d-block.d-sm-none
                        .my-logo-mobile
                            img.img-fluid(src="./images/logo.png", alt="")
            
                    .col-3.col-sm-9.col-md-7.mx-sm-auto.d-none.d-sm-block.mb-3 
                        
                        .my-pic
                            .my-logo
                                img.img-fluid(src="./images/logo.png", alt="")
                            img.img-fluid(src="./images/me-pic-avatar.png", alt="")
                        .my-intro.mt-5.mb-3.border-bottom.pb-3 
                            h4.text-center E. Wright 
                            small.text-center.d-block Forward-thinking User Interface engineer.
                            
                        .my-info.d-flex.justify-content-between.mb-3
                            a.mr-3(href="#" target="_blank")
                                span.bi.bi-linkedin
                            a.mr-3(href="#" target="_blank")
                                span.fab.fa-behance
                            a.mr-3(href="#" target="_blank")
                                span.fab.fa-dribbble
                            a.mr-3(href="#" target="_blank")
                                span.bi.bi-youtube
                        
                            
            
                    .col-10.col-sm-12.text-end.text-sm-start 
                        .navigation 
                            ul#pills-tab.nav.nav-pills.mb-3.justify-content-end.flex-sm-column.mx-sm-auto(role='tablist')
                                li.nav-item(role='presentation')
                                    button#pills-home-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-home' type='button' role='tab' aria-controls='pills-home' aria-selected='true') Home
                                    
                                li.nav-item(role='presentation')
                                    button#pills-portfolio-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-portfolio' type='button' role='tab' aria-controls='pills-portfolio' aria-selected='false') Portfolio
                                li.nav-item(role='presentation')
                                    button#pills-contact-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-contact' type='button' role='tab' aria-controls='pills-contact' aria-selected='false') Contact
                    .col-12.col-sm-12.mt-4
                        .quick-links 
                            a.btn.btn-primary.w-100.mb-3(href="/inquiry.html") Project Request
                        
            .col-12.col-sm-9.col-xl-10.ms-sm-auto
                #pills-tabContent.tab-content.p-3.shadow-lg.my-auto
                    #pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab') 
                        include ./includes/home.pug
                    #pills-portfolio.tab-pane.fade(role='tabpanel' aria-labelledby='pills-portfolio-tab') 
                        include ./includes/portfolio.pug
                    #pills-contact.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab')
                        include ./includes/contact.pug
        


    footer
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous')
