@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Jost:wght@300;500&display=swap");
.design-list li.list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current-work-breakdown .section {
  border-right: 1px solid #e6e3e8;
  background: #fef2f4;
  padding-top: 2em;
}

.current-work-breakdown .section:last-child {
  border-right: none;
}

.current-work-breakdown .bi {
  font-size: 2rem;
  color: #c31432;
}

.current-work-breakdown li.list-group-item {
  background: transparent;
}

.latest-work-item,
.latest-blog-item {
  background: #fef2f4;
}

.latest-work-item img,
.latest-blog-item img {
  margin-bottom: 1rem;
}

body,
html,
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100% !important;
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

body {
  background-image: url("./images/spikes.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

h1,
h2 h3,
h4 {
  font-family: "Cinzel", Georgia, "Times New Roman", Times, serif;
}

a {
  color: #c31432;
}

.header-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  background: #e6e3e8;
}

.header-column.h-100 {
  height: auto !important;
}

.tab-content {
  width: 100% !important;
  margin-bottom: 122px !important;
  background: #fff;
}

.nav-pills .nav-link {
  color: #150205;
}

.nav-pills .nav-link span.small {
  font-size: 0.65rem;
}

.nav-pills .nav-link span.bi {
  display: block;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #cec8d2;
  border-bottom: 2px solid #c31432;
  border-radius: 0;
  color: #150205;
}

.border-bottom {
  border-bottom: 1px solid #cec8d2 !important;
}

.btn {
  border-radius: 2px;
  border: 1px solid #c31432;
}

.btn:hover {
  background: #820d21;
  border: 1px solid #c31432;
}

.btn-primary {
  background: #c31432;
}

.btn-outline-primary {
  color: #c31432;
}

.header-image {
  max-width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.header-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

ul.list-group,
ul {
  margin: 0 !important;
  padding: 0 !important;
}

li.list-group-item {
  padding: 0.5em 0;
}

li.list-group-item .bi-check-circle {
  color: #b6adbc;
}

span.bi.bi-check-circle {
  margin-right: 1em !important;
  color: #b6adbc;
}

@media (min-width: 576px) {
  button {
    display: block;
    width: 100%;
  }
  .header-image {
    max-width: 100%;
    height: 400px;
  }
}

@media (min-width: 768px) {
  .nav-pills .nav-link span.small {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .header-column {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .header-column.h-100 {
    height: 100% !important;
  }
  .main-pane {
    width: 720px;
    margin-left: 304px !important;
  }
  .nav-pills .nav-link {
    border-left: 0;
    border-radius: 0;
    border-bottom: 1px solid #cec8d2;
    text-align: left !important;
  }
  .nav-pills .nav-link span.bi {
    display: inline;
    margin-right: 10px !important;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: #cec8d2;
    border-left: 2px solid #c31432;
    border-right: none;
    border-bottom: none;
    color: #c31432;
    background-image: -webkit-gradient(linear, left top, right top, from(#cec8d2), to(#e6e3e8));
    background-image: linear-gradient(to right, #cec8d2, #e6e3e8);
  }
  .tab-content {
    margin-bottom: 0 !important;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .main-pane {
    width: 930px;
    margin-left: 234px !important;
  }
}

@media (min-width: 1400px) {
  .main-pane {
    width: 1120px;
    margin-left: 264px !important;
  }
}

@media (min-width: 1500px) {
  .main-pane {
    width: 1280px;
    margin-left: 324px !important;
  }
}
/*# sourceMappingURL=style.css.map */