@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Jost:wght@300;500&display=swap");

@import "./scss/_variables.scss";
@import "./scss/_about.scss";

body,
html,
main {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

body {
  background: $accent-dark-60;
  background-image: url("../images/top-corner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
h1,
h2 h3,
h4 {
  font-family: "Cinzel", Georgia, "Times New Roman", Times, serif;
}
a {
  color: $accent;
}

.header-column {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  background: $header-bg;
}
.header-column.h-100 {
  height: auto !important;
}
.my-pic {
  position: relative;
}

.tab-content {
  width: 100% !important;
  margin-bottom: 192px !important;
  background: $white;
}

.nav-pills .nav-link {
  color: $text;
  border-bottom: 1px solid $nav-pill-active;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: $nav-pill-active;
  border-bottom: 4px solid $accent;
  border-radius: 0;
  color: $text;
}

.border-bottom {
  border-bottom: 1px solid $nav-pill-active !important;
}

.btn {
  border-radius: 2px;
  border: 1px solid $accent;
  &:hover {
    background: $accent-hover;
    border: 1px solid $accent;
  }
}

.btn-primary {
  background: $accent;
}

.btn-outline-primary {
  color: $accent;
}

.header-image {
  max-width: 100%;
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

ul.list-group,
ul {
  margin: 0 !important;
  padding: 0 !important;
}

li.list-group-item {
  padding: 0.5em 0;
}

li.list-group-item .bi-check-circle {
  color: $list-icons;
}

span.bi.bi-check-circle {
  margin-right: 1em !important;
}

@media (min-width: 576px) {
  .header-column {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    border-right: 4px solid $accent;
    border-bottom: none;
  }
  button {
    display: block;
    width: 100%;
  }

  .header-image {
    max-width: 100%;
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .header-column.h-100 {
    height: 100% !important;
  }

  .main-pane {
    width: 720px;
    margin-left: 304px !important;
  }

  .tab-content {
    margin-bottom: 0 !important;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .main-pane {
    width: 930px;
    margin-left: 234px !important;
  }
}
@media (min-width: 1400px) {
  .main-pane {
    width: 1480px;
    margin-left: 324px !important;
  }
}
