.row.justify-content-center
    .col-12
        .header-image
            img.img-fluid(src="./images/cali.png", alt="")
        .row.mt-4

            .col-12.col-lg-4 
                .my-experience.d-block.d-block 
                    h6 Education 
                    p.mb-0.text-uppercase The Art Institute of Atlanta 
                    small Fine Arts in Graphic Design Degree
                .my-experience.d-block 
                    h6 Experience 
                    ul.list-group.list-group-flush 
                        li.list-group-item
                            p.mb-0.fw-bold Front End web Developer 
                            p.mb-0.text-uppercase Performance Systems Group 
                            small August 2017 - Current
                        li.list-group-item
                        
                            p.mb-0.fw-bold Multimedia Designer
                            p.mb-0.text-uppercase Performance Systems Group 
                            small December 2016 - August 2017 (Promoted)

                        li.list-group-item
                        
                            p.mb-0.fw-bold Web Designer
                            p.mb-0.text-uppercase YellowPages (YP.com) 
                            small September 2014 - September 2016 

            .col-12.col-lg-4 
                .my-experience.d-block.d-block 
                    h6 Education 
                    p.mb-0.text-uppercase The Art Institute of Atlanta 
                    small Fine Arts in Graphic Design Degree
                .my-experience.d-block 
                    h6 Experience 
                    ul.list-group.list-group-flush 
                        li.list-group-item
                            p.mb-0.fw-bold Front End web Developer 
                            p.mb-0.text-uppercase Performance Systems Group 
                            small August 2017 - Current
                        li.list-group-item
                        
                            p.mb-0.fw-bold Multimedia Designer
                            p.mb-0.text-uppercase Performance Systems Group 
                            small December 2016 - August 2017 (Promoted)

                        li.list-group-item
                        
                            p.mb-0.fw-bold Web Designer
                            p.mb-0.text-uppercase YellowPages (YP.com) 
                            small September 2014 - September 2016 
