.row.justify-content-center
    .col-12
        .header-image
            img.img-fluid(src="./images/cali.png", alt="")
        .row.mt-4

            .col-12.col-md-6.col-xl-4.mb-3.mb-xl-0 
                .my-experience.d-block.d-block.mb-4 
                    h4.text-uppercase.fw-bold Education 
                    p.mb-0.fw-bold The Art Institute of Atlanta 
                    small Fine Arts in Graphic Design Degree
                .my-experience.d-block 
                    h4.text-uppercase.fw-bold Experience 
                    ul.list-group.list-group-flush 
                        li.list-group-item
                            p.mb-0.fw-bold UI Developer 
                            p.mb-0 Performance Systems Group 
                            small August 2017 - Current
                        li.list-group-item
                        
                            p.mb-0.fw-bold Multimedia Designer
                            p.mb-0 Performance Systems Group 
                            small December 2016 - August 2017 (Promoted)

                        li.list-group-item
                        
                            p.mb-0.fw-bold Web Designer
                            p.mb-0.text-uppercase YellowPages (YP.com) 
                            small September 2014 - September 2016 

            .col-12.col-md-6.col-xl-4.mb-3.mb-xl-0 
                .my-experience.d-block.d-block.mb-3
                    h4.text-uppercase.fw-bold Design 
                    ul.list-group.list-group-flush.design-list
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 User Interface Design using Adobe XD
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 Marketing Website Development using vanilla HTML/CSS/Javascript, or with custom Wordpress theme
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 Print & Social Media Collateral
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 Responsive Email Templates
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 Developing & Maintaining Style Guides and Design Systems
                     
            .col-12.col-md-6.col-xl-4 
                .my-experience.d-block.d-block.mb-3
                    h4.text-uppercase.fw-bold Development 
                    ul.list-group.list-group-flush.design-list
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 Responsive (mobile first) web/application development using Bootstrap, Javascript, HTML, CSS
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 Pug/Jade Templating Engine
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 React.Js
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 Cordova and Phonegap for mobile application development
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 TFS (Azure Devops) for updating wiki documentation and recording/tracking tasks.
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 GitHub for code source-control
                    
             
