.row.justify-content-center
    .col-12
        .header-image
            img.img-fluid(src="./images/cali.png", alt="")
        .row.mt-4

            .col-12.col-lg-6.mb-3
                .p-3.bg-light.rounded-3
                    .about-me.d-block.d-block.mb-4 
                        h4.text-uppercase.fw-bold Mission
                        p.mb-0.fw-bold Forward-thinking User Interface engineer...
                        p in search of freelance and fulltime 
                            span.fw-bold remote
                            span  opportunities with progressive companies and small businesses where my skills and practical knowledge of frameworks like React and Pug are used to power innovative user experiences. 
                    .my-info.d-flex.justify-content-between.w-50
                        a.mr-3(href="#" target="_blank")
                            span.bi.bi-linkedin
                        a.mr-3(href="#" target="_blank")
                            span.fab.fa-behance
                        a.mr-3(href="#" target="_blank")
                            span.fab.fa-dribbble
                        a.mr-3(href="#" target="_blank")
                            span.fab.fa-twitch
                        a(href="#" target="_blank")
                            span.bi.bi-youtube 
                        
                           

            .col-12.col-lg-6.mb-3
                .my-experience.d-block 
                    h4.text-uppercase.fw-bold Experience 
                    ul.list-group.list-group-flush 
                        li.list-group-item
                            .row 
                                .col-6.col-md-3.col-lg-12.col-xl-6 
                                    p.mb-0.fw-bold UI Developer 
                                .col-6.col-md-9.text-end.col-lg-12.col-xl-6.text-lg-start.text-xl-end
                                    small Aug 2017 - Current
                            
                            p.mb-0 Performance Systems Group 
                            
                        li.list-group-item
                            .row 
                                .col-6.col-md-3.col-lg-12.col-xl-6
                                    p.mb-0.fw-bold Multimedia Designer
                                .col-6.col-md-9.text-end.col-lg-12.col-xl-6.text-lg-start.text-xl-end
                                    small Dec 2016 - Aug 2017 (Promoted)
                                p.mb-0 Performance Systems Group       

                        li.list-group-item
                            .row 
                                .col-6.col-md-3.col-lg-12.col-xl-6
                                    p.mb-0.fw-bold Web Designer
                                .col-6.col-md-9.text-end.col-lg-12.col-xl-6.text-lg-start.text-xl-end
                                    small Sep 2014 - Sep 2016 
                            
                            p.mb-0.text-uppercase YellowPages (YP.com) 
                            
            .col-12.current-work-breakdown.py-3
                 
                h4.text-uppercase.fw-bold Current Work Breakdowns 
                .row.mx-auto 
                    .col-12.col-sm-6.col-xl-3.text-center.section 
                        span.bi.bi-tools.bi-2x.d-block
                        p.mb-0.fw-bold Maintenance
                        p.lead.fw-light.border-bottom.mb-3 15%
                            ul.list-group.list-group-flush 
                                li.list-group-item Updating mobile applications 
                                li.list-group-item Refactoring code
                                li.list-group-item Documentation
                                li.list-group-item Time-tracking

                    .col-12.col-sm-6.col-xl-3.text-center.section 
                        span.bi.bi-question-lg.bi-2x.d-block
                        p.mb-0.fw-bold Support
                        p.lead.fw-light.border-bottom.mb-3 15%
                            ul.list-group.list-group-flush 
                                li.list-group-item Training & Knowledge Transfers
                                li.list-group-item Resolving Help Desk tickets
                    .col-12.col-sm-6.col-xl-3.text-center.section 
                        span.bi.bi-pencil-fill.bi-2x.d-block
                        p.mb-0.fw-bold Design
                        p.lead.fw-light.border-bottom.mb-3 15%
                            ul.list-group.list-group-flush 
                                li.list-group-item Research
                                li.list-group-item Wireframing
                                li.list-group-item Style Guide Maintenance
                                li.list-group-item Usability Testing/Feedback
                                li.list-group-item Revisions
                    .col-12.col-sm-6.col-xl-3.text-center.section 
                        span.bi.bi-code-slash.bi-2x.d-block
                        p.mb-0.fw-bold Development
                        p.lead.fw-light.border-bottom.mb-3 15%
                            ul.list-group.list-group-flush 
                                li.list-group-item Design System maintenance 
                                li.list-group-item Coding
                                li.list-group-item Testing/Debugging
                                li.list-group-item Usability Testing/Feedback
                                li.list-group-item Feedback Revsisions
                                li.list-group-item Scripting/Programming
                                li.list-group-item Prep for Hand Off
            .col-12.col-md-6.col-xl-4.mb-3.mb-xl-0 
                .my-experience.d-block.d-block.mb-3.mt-xl-3
                    h4.text-uppercase.fw-bold Design 
                    ul.list-group.list-group-flush.design-list
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 User Interface Design (Adobe XD)
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 Wordpress Custom Theme Development (PHP, Javascript, HTML, CSS)
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 Print & Social Media Collateral (Adobe After Effects, Adobe Photoshop)
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 Responsive Email Templates (EmailonAcid, HTML, CSS)
                        li.list-group-item.border-bottom-0 
                            span.bi.bi-check-circle
                            span.pl-3 Developing & Maintaining Style Guides and Design Systems (Adobe XD)
                     
            .col-12.col-md-6.col-xl-4 
                .my-experience.d-block.d-block.mb-3.mt-xl-3
                    h4.text-uppercase.fw-bold Development 
                    ul.list-group.list-group-flush.design-list
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 Responsive (mobile first) web/application development using Bootstrap, Javascript, HTML, CSS
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 Pug/Jade Templating Engine
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 React.Js
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 Cordova and Phonegap for mobile application development
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 TFS (Azure Devops) for updating wiki documentation and recording/tracking tasks.
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 GitHub for code source-control
            .col-12.col-md-6.col-xl-4 
                .my-experience.d-block.d-block.mb-3.mt-xl-3
                    h4.text-uppercase.fw-bold Endeavors 
                    ul.list-group.list-group-flush.design-list
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 Currently learning Python
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 Continue learning VFX and video editing
                        li.list-group-item.border-bottom-0 
                            span.mr-5.bi.bi-check-circle
                            span.ml-3 Learn Vue.js                
                    
            