.row.justify-content-center
    .col-12.col-xl-8
        .header-image
            img.img-fluid(src="./images/header-home.jpg", alt="")

    
        h1.h4 Excuse our progress, but while you wait...
        p  Let me introduce myself - I'm Cali and I'm the real brains behind this UI design and development thing E does. Well, she's been doing it longer than I've been alive, but I still give her a lot of great ideas. My brother Calvin helps us sometimes, but he's told me he prefers to sunbathe on the balcony while 'we' do all the work. SMH.
        p I'll admit that my English isn't that great - yet. However, from what I've been able to pick up while eavesdropping on E's work calls, she's working with some things called Bootstrap, Wordpress, PHP, Javascript (she cursed about that one a LOT), design thinking and ideation, along with a few other things, but you'll have to speak with her yourself about it.
 
    .col-12.col-xl-4.d-flex.flex-column.flex-md-row.flex-xxl-column 
        .latest-work-item.d-block.p-3.mb-3
            h2 Latest Work
            img.img-fluid(src="./images/header-home.jpg", alt="")
            a(href="#") Lorem ipsum dolor sit amet. 
        .latest-blog-item.d-block.p-3.mb-3
            h2 Latest Video
            img.img-fluid(src="./images/header-home.jpg", alt="")
            a(href="#") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas excepturi eligendi placeat!
