.portfolio
    .portfolio-item.medium.one
        p One
    .portfolio-item.large.two
        p two
    .portfolio-item.medium.three
        p three
    .portfolio-item.small.four
        p Four
    .portfolio-item.tall.five
        p Five
    .portfolio-item.wide.six
        p Six