.portfolio
    .portfolio-item.medium.one
        p One
    .portfolio-item.medium.two
        p Two
    .portfolio-item.large.three
        p Three
    .portfolio-item.small.four
        p Four
    .portfolio-item.tall.five
        p Five
    .portfolio-item.wide.six
        p Six