.portfolio
    .portfolio-item.medium
        p One
    .portfolio-item.large
        p two
    .portfolio-item.medium
        p three
    .portfolio-item.small
        p Four
    .portfolio-item.tall
        p Five
    .portfolio-item.wide
        p Six